html,body{
    margin: 0px;
    height: 100%; 
}
body{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template: 1fr 5fr/ 1fr;
 /*   border-style: solid;
    border-color: red;*/
    min-width: 700px;

    
    
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: xx-large;
    text-align: center;
    color: rgb(34, 37, 37);
    
  /*  border: solid;
    border-color: black;*/
}
.main-content{
 /*   border-style: solid;
    border-color: blue;*/
    display: flex;
    justify-content: center;
    

    

}
.grid-container{
    
   /* border-style: solid;
    border-color: red;*/
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100%;
    
    
    
    
}
.playerTracker{
  /*  border-style: solid;
    border-color: orange;
    
    text-align: center;*/

}
.gameBoard{
    
   
    display: grid;
    grid-template: repeat(3,minmax(75px,1fr))/ repeat(3,minmax(75px,1fr));
    list-style:none;
    height:45%;
    padding-left: 0px;
   
   
   
}

ul li{
        
    border-style: solid;
    border-color: black;
    
}
#slot-zero, #slot-two, #slot-three, #slot-one, #slot-four, #slot-five{
    border-bottom-width: 0;
}
#slot-one, #slot-four, #slot-seven{
    border-left-width: 0;
}
#slot-two, #slot-five, #slot-eight{
    border-left-width: 0;
}

.slot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px;
    font-size: 11vh;
    font-size: 7vw;
    
}